/*
  !!! To improve performance, the content of this file should be pasted in the global head tag of your website !!!
*/

body .transition {
  display: block;
}

.w-editor .transition {
  display: none;
}

.no-scroll-transition {
  overflow: hidden;
  position: relative;
}
